#instructions{
  display: none;
  background-color:black;
  color: #0BAB09;
  font-family:Source Code Pro;
}
#click1{
  cursor:help;
  background-color:black;
 font-size: 148%;
 font-family: Source Code Pro;
 margin-left: 40%;
 color:white;
 text-shadow:3px 3px 4px  #0BAB09;


}
#click1:hover{
  background-color:black;
  box-shadow:1px 1px 1px #0BAB09;
 font-family: Source Code Pro;
 font-size: 150%;
}

#form{
  display:none;
 margin-left: 35%;

}
#game{
  display:none;
}
#header{
  font-family: Orbitron;
  font-size:600%;
  color:white;
  text-shadow:6px 6px 100px #0BAB09;
  margin-left:30.5%;

}
body{
  background-image:url("https://stmed.net/sites/default/files/black-wallpapers-25166-570924.jpg")
  background-size: cover;
  background-repeat: no-repeat;
}

#begin{
  font-family: Orbitron;
  color:white;
  font-size:300%;
  font-family:Source Code Pro;
  margin-left:40%;
  text-shadow: 3px 3px 10px  #0BAB09;


}
#begin:hover{
  text-shadow:10px 10px 50px #0BAB09;
  cursor:grab;
  font-size:302%;

}

p{
  color:#0BAB09;
 font-family: Source Code Pro;
 font-size:120%;
}
#start{
  color: #0BAB09;
  font-family:Source Code Pro;

}
#start:hover{
  box-shadow:5px 5px 100px  #0BAB09;
  font-family:Source Code Pro;
}

#start1{
  color: #0BAB09;
  font-family:Source Code Pro;
  margin-left: 5px;

}
#start1:hover{
    box-shadow:5px 5px 100px  #0BAB09;
    font-family:Source Code Pro;

}

#start2{
  color: #0BAB09;
  font-family:Source Code Pro;

}
#start2:hover{
    box-shadow:5px 5px 100px  #0BAB09;
    font-family:Source Code Pro;

}
h3{
  color:white;
  font-family: Source Code Pro;
  text-shadow: 2px 2px 5px  #0BAB09;
}

#buttons{
  margin-left:20px;
}
#begin{
  animation: 3s infinite alternate slidein;
}
#board2{
    display:none;
}
#start0{
  color: #0BAB09;
  font-family:Source Code Pro;
  display: none;
}
#start0:hover{
  box-shadow:5px 5px 100px  red;
  font-family:Source Code Pro;
  color:red;
}
h1{
  font-size: 700%;
  font-family: Orbitron;
}
#score1{
  color:red;
  font-family: Orbitron;
  font-size: 400%;
}
#score2{
  color:green;
  font-size: 400%;
  font-family: Orbitron;
}
audio{
  display:none;
}
#form{
  background-color: black;
  opacity: 0.9;
}
#buttons{
  display:none;
}
#comments{
  display:none;
}
#lose{
  display:none;
}
#name0{
  font-family: Orbitron;
  font-size:300%;
}
#name2{
  font-family: Orbitron;
  font-size:300%;
}
